
    
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <div> <label for="checkindate">Check-in Date</label>
    <input class="form-control" type="date" id="checkindate" formControlName="checkInDate">
    <div *ngIf="loginForm.get('checkInDate')?.invalid && loginForm.get('checkInDate')?.touched"> Check-in Date is required</div>
</div>
   <div> <label for="checkindate">Check-in Date</label>
    <input class="form-control" type="date" id="checkindate" formControlName="checkInDate"></div>
   <div> <label for="checkoutdate">Check-out Date</label>
    <input class="form-control" type="date" id="checkoutdate" formControlName="checkOutDate"></div>
   <div> <label for="guestname">Guest Name </label>
    <input class="form-control" type="text" id="guestname" formControlName="guestName"></div>
   <div><label for="checkoutdate">Guest Email </label>
    <input class="form-control" type="email" id="checkoutdate" formControlName="guestEmail"></div>

<div><label for="roomnumber">Room Number </label>
    <input class="form-control" type="number" id="roomnumber" formControlName="roomNumber"></div>
   
  
  <button type="submit" [disabled]="loginForm.invalid"> Add</button>



</form>


